/* Untuk browser berbasis WebKit (Chrome, Safari, Edge) */
.overflow-scroll::-webkit-scrollbar {
  width: 6px; /* Lebar scrollbar lebih tipis */
}

.overflow-scroll::-webkit-scrollbar-track {
  background: transparent; /* Menjadikan track scrollbar transparan */
}

.overflow-scroll::-webkit-scrollbar-thumb {
  background-color: #C0C78C; /* Warna scrollbar */
  border-radius: 10px; /* Membuat ujung scrollbar melengkung */
  min-height: 30px; /* Panjang minimal thumb */
}

/* Untuk Firefox */
.overflow-scroll {
  scrollbar-width: thin; /* Membuat scrollbar lebih tipis */
  scrollbar-color: #FFFBE6 transparent; /* Warna thumb dan membuat track transparan */
}
